# Postgres
POSTGRES_USER=todolist
POSTGRES_PASSWORD=todolist
POSTGRES_DB=todolist
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg2://todolist:todolist@localhost:5432/todolist

# App settings
MAX_NUMBER_OF_PROJECT=10
MAX_NUMBER_OF_TASK=100

JWT_SECRET=replace_this_with_a_secure_value
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost,http://localhost:3000
